/* color: rgb(116,183,224) */
/* Paleta de colores:
rgb(145,87,246) --- violeta
rgb(44,167,236) --- celeste
rgb(0,145,228) --- azul
rgb(10,177,169) ---verde
rgb(4,225,211) --- verde agua
rgb(192,255,200) --- verde clarito
rgb(248,218,158) --- naranja
 */
@font-face {
  font-family: Baloo2;
  src: url(../css/fonts/Baloo_2/Baloo2-VariableFont_wght.ttf);
}

@font-face {
  font-family: Larsseit;
  src: url(../css/fonts/Larsseit/Larsseit/Larsseit.otf);
}
h1, h2, h3, h4, h5, h6,p{
  font-family: Larsseit !important;
}
section.lets-put-more{
  height: 70vh;
  background-image: linear-gradient(rgb(192,255,200), rgb(0,145,228));
}
section.video-section{
  height: 70vh;
  background-image: linear-gradient(rgb(0,145,228), rgb(4,225,211));
}
section.partners-section{
  height: 70vh;
  background-image: linear-gradient(rgb(4,225,211),rgb(192,255,200));
}
img.lets-put-icon{
  max-height: 7rem;
}
img.partners-icon{
  max-height: 7.8rem;
}
.color-uno{
  color: rgb(44, 167, 236);
}
header>div.container>a>img{
  max-width: 15rem;
}
.button-pic{
  max-width: 15rem;
}
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-5,
.col-lg-5 {
  float: left;
  width: 20%;
  min-height: 1px; 
  position: relative;
}
.footer-logo{
  width: 7rem;
}
.icons-row{
  padding-top: 10vh;
}
/* .lets-put-more-border{
  border: 1px solid white;
  border-radius: 20%;
} */
.partners-icon-row{
  padding-top: 20vh;
}
footer{
  padding-top: 15vh;
}