/* color: rgb(116,183,224) */
/* Paleta de colores:
rgb(145,87,246) --- violeta
rgb(44,167,236) --- celeste
rgb(0,145,228) --- azul
rgb(10,177,169) ---verde
rgb(4,225,211) --- verde agua
rgb(192,255,200) --- verde clarito
rgb(248,218,158) --- naranja
 */

section.lets-put-more{
  min-height: 70vh;
  background-image: linear-gradient(rgb(192,255,200), rgb(0,145,228));
}
section.our-team{
  min-height: 70vh;
  background-image: linear-gradient(rgb(192,255,200), rgb(44,167,236));
}
section.our-formula{
  min-height: 85vh;
  background-image: linear-gradient(rgb(44,167,236), rgb(0,145,228));
}
section.about-us{
  min-height: 85vh;
  background-image: linear-gradient(rgb(0,145,228), rgb(44,167,236));
}
section.footer{
  /* min-height: 55vh; */
  background-image: linear-gradient(rgb(44,167,236), rgb(192,255,200));
}
section.video-section{
  min-height: 70vh;
  background-image: linear-gradient(rgb(0,145,228), rgb(4,225,211));
}
section.partners-section{
  min-height: 70vh;
  background-image: linear-gradient(rgb(4,225,211),rgb(192,255,200));
}
section.road-map-time-line{
  min-height: 70vh;
  background-image: linear-gradient(rgb(4,225,211),rgb(44,167,236));
}
.road-map{
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../images/RoadMap/Backbrgound-Roadmap-1.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
.background-svg{
  background-image: url("../images/AboutUs/Degraded-Globe.svg");
  min-height: 40vh;
  background-repeat: no-repeat;
}
img.lets-put-icon{
  max-height: 7rem;
  margin-top: 2rem;
}
img.partners-icon{
  max-height: 7.8rem;
}
.color-uno{
  color: rgb(44, 167, 236);
}
header>div.container>a>img{
  max-width: 15rem;
}
.button-pic{
  max-width: 15rem;
}
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-5,
.col-lg-5 {
  float: left;
  width: 20%;
  min-height: 1px; 
  position: relative;
}
.footer-logo{
  width: 7rem;
}
.icons-row{
  padding-top: 10vh;
}
.partners-icon-row{
  padding-top: 20vh;
}
footer{
  padding-top: 15vh;
}
.plus-formula{
  max-height: 4rem;
  font-size: 6rem;
}
.equal-formula{
  font-size: 6rem;
}
.about-get-started-btn{
  margin-top: 5%;
}
@media (min-width: 768px) {
  header.road-map {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  header.road-map .road-map-subheading {
    font-size: 2.25rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.road-map .road-map-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}
.road-map-icons{
  padding-top: 12%;
  max-width: 70%;
  height: auto;
  border-radius: 0%;
}
.road-map-icons-dao{
  max-width: 100%;
  height: auto;
  border-radius: 0%;
}
.background-transparent{
  background-color: transparent;
}
.background-transparent-light{
  background-color: transparent;
  filter:alpha(opacity=20);
-moz-opacity:.70;opacity:1;
}
.accordion-item{
  border: 0px;
}
.accordion{
  padding-top: 5%;
}
.logo-card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 350px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  border-radius: 25px;
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5%;
  text-align: center;
}
@media (max-width: 767px) {
  .logo-card{
    min-height: auto;
    margin-top: 2%;
  }
}
.boxed {
  border: 2px solid white ;
  border-radius: 100px;
  padding: 5%;
}